<style>

    :root {
        --primary-color-header: #161219;
        --text-color-header: #c9d1d9;
    }

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--accent-color);
        border-radius: 6px;
    }

    ::-webkit-scrollbar-track {
        background-color: var(--primary-color-header);
    }

    .navbar.is-dark {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 1rem;
    }

    .custom-navbar {
        background-color: var(--primary-color-header);
        border-bottom: 1px solid rgba(var(--accent-color-rgb), 0.1);
        padding: 0.5rem 1rem;
    }

    .custom-navbar .navbar-brand {
        display: flex;
        align-items: center;
    }

    .custom-navbar .navbar-end .navbar-item {
        background-color: transparent;
        color: var(--text-color-header);
        padding: 0.5rem 1rem;
        margin: 0 0.2rem;
        border-radius: 6px;
        transition: all 0.3s ease;
    }
    .custom-navbar .navbar-end .navbar-item:hover {
        background-color: transparent;
        color: var(--accent-color) !important;
    }

    .navbar-menu {
        background-color: var(--primary-color-header);
    }

    .navbar-menu .navbar-item {
        color: var(--text-color-header);
        padding: 10px 15px;
        transition: background-color 0.3s ease;
    }

    .navbar-menu .navbar-item:hover {
        color: var(--primary-color-header);
    }

    .navbar-burger {
        color: var(--text-color-header);
    }

    .navbar-burger:hover {
        color: var(--accent-color);
    }

    .navbar-burger.is-active {
        color: var(--accent-color);
    }

    .navbar-logo {
        max-width: 312px;
        height: auto;
    }

    .avatar {
        border-radius: 50%;
        width: 30px;
        height: 30px;
        margin-right: 8px;
    }

    .navbar-dropdown {
        display: none;
        position: absolute;
        background-color: var(--primary-color-header);
        border-radius: 6px;
        padding: 10px 0;
        margin-top: 5px;
        box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
        z-index: 1000;
    }

    .navbar-item.has-dropdown:hover .navbar-dropdown {
        display: block;
    }

    .navbar-dropdown .navbar-item,
    .navbar-dropdown .navbar-item:hover,
    .navbar-dropdown .navbar-item:focus,
    .navbar-dropdown .navbar-item:active {
        background-color: var(--primary-color-header) !important;
        color: var(--text-color-header) !important;
        box-shadow: none !important;
        outline: none !important;
        border: none !important;
        transition: color 0.3s ease;
    }

    .navbar-dropdown .navbar-item:hover {
        color: var(--accent-color) !important;
    }

    .navbar-link {
        color: var(--text-color-header) !important;
        background-color: var(--primary-color-header) !important;
        transition: color 0.3s ease, background-color 0.3s ease;
    }

    .navbar-link:hover {
        color: var(--accent-color) !important;
        background-color: var(--primary-color-header) !important;
        text-decoration: none;
    }

    .navbar-item.has-dropdown .navbar-link:hover {
        background-color: var(--primary-color-header) !important;
        color: var(--accent-color) !important;
    }

    .navbar-dropdown .navbar-item:focus {
        outline: none;
    }

    .navbar-dropdown .navbar-item .icon {
        margin-right: 8px;
    }

    .navbar-item.has-dropdown {
        position: relative;
    }

    .navbar-end {
        position: relative;
    }

    .navbar-menu .navbar-dropdown {
        background-color: var(--primary-color-header);
        border-radius: 6px;
        padding: 10px 0;
        margin-top: -2px;
    }

    .navbar-item .icon {
    margin-right: 0.2rem !important;
    display: inline-flex;
    align-items: center;
}
.navbar-link::after {
    border-color: var(--accent-color) !important;
}

</style>

<nav class="navbar custom-navbar">
    <div class="navbar-brand">
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMenu">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
            <a class="navbar-item" href="/">
                <span class="icon">
                    <i class="fas fa-home"></i>
                </span>
                Home
            </a>
            <a class="navbar-item" href="/open-tickets">
                <span class="icon">
                    <i class="fas fa-ticket-alt"></i>
                </span>
                Ticket đang mở
            </a>
            <a class="navbar-item" href="/tickets">
                <span class="icon">
                    <i class="fas fa-history"></i>
                </span>
                Lịch sử ticket
            </a>
            <a class="navbar-item" href="/statistics">
                <span class="icon">
                    <i class="fas fa-chart-bar"></i> 
                </span>
                Thống kê
            </a>
            <a class="navbar-item" href="/reviews">
                <span class="icon">
                    <i class="fas fa-star"></i>
                </span>
                Đánh giá
            </a>
            <a class="navbar-item" href="/blacklist">
                <span class="icon">
                    <i class="fas fa-ban"></i>
                </span>
                Danh sách đen
            </a>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link" style="color: var(--text-color-header);">
                        <% if (user.avatar) { %>
                            <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.webp?size=240" alt="Avatar" class="avatar">
                        <% } else { %>
                            <span class="icon">
                                <i class="fas fa-user-circle"></i>
                            </span>
                        <% } %>
                        <%= user.username %>
                    </a>

                    <div class="navbar-dropdown">
                        <a class="navbar-item" href="/logout">
                            <span class="icon">
                                <i class="fas fa-sign-out-alt"></i>
                            </span>
                            Đăng xuất
                        </a>
                    </div>
                </div>
        </div>
    </div>
</nav>
    
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
        if (navbarBurgers.length > 0) {
            navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');
                });
            });
        }
    });
</script>